name: CI

on:
    push:
        branches:
            - main
    pull_request:

permissions:
    actions: read
    contents: read

jobs:
    main:
        runs-on: ubuntu-latest
        env:
            NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: pnpm/action-setup@v4
              with:
                  version: 10.14.0+sha512.37ebf1a5c7a30d5fabe0c5df44ee8da4c965ca0c5af3dbab28c3a1681b70a256218d05c81c9c0dcf767ef6b8551eb5b960042b9ed4300c59242336377e01cfad

            # Cache node_modules
            - uses: actions/setup-node@v4
              with:
                  node-version: 22.18.0
                  cache: "pnpm"

            - run: pnpm install --frozen-lockfile
            - uses: nrwl/nx-set-shas@v4

            - run: pnpm exec nx affected -t lint:eslint:config-check

            # This enables task distribution via Nx Cloud
            # Run this command as early as possible, before dependencies are installed
            # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
            - name: Start Nx Cloud CI Run
              run: pnpm dlx nx-cloud start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

            # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
            - run: pnpm exec nx-cloud record -- echo Hello World

            # Nx Affected runs only tasks affected by the changes in this PR/commit. Learn more: https://nx.dev/ci/features/affected
            - run: pnpm exec nx affected -t lint:eslint lint:knip lint:prettier
            - run: pnpm exec nx affected -t test
            - run: pnpm exec nx affected -t build
